@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700|Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700|Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700|Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700|Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700|Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700|Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700|Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700|Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700|Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700|Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700|Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700|Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700|Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700|Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700|Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700|Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700|Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700|Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700|Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700|Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700|Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700|Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700|Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700|Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700|Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700|Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700|Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700|Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700|Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700|Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700|Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700|Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700|Roboto:400,700&display=swap");
html {
  font-size: 10px;
  font-family: "Roboto", "Noto Sans TC", sans-serif; }

body {
  font-size: 1.4rem;
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  line-height: 1.6rem;
  padding: 0 !important;
  margin: 0 !important;
  background-color: #F3F3F3;
  align-items: center;
  text-align: center; }

.container {
  text-align: left !important; }
  @media (min-width: 1200px) {
    .container {
      max-width: 1350px;
      padding: 0 15px; } }

.container.first {
  padding-top: 50px; }

input {
  font-size: 1.6rem;
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  line-height: 1.8rem;
  border: 1px solid #ccc;
  border-radius: 5px; }

.btn {
  font-size: 1.6rem;
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  line-height: 1.8rem;
  padding: 8px 14px; }

a {
  vertical-align: middle; }

.back-btn {
  margin-right: 15px; }
  .back-btn > img {
    vertical-align: baseline; }

.btn-info {
  border: 0;
  border-radius: 5px;
  background-color: #18B8AF; }
  .btn-info:hover {
    background-color: #169992; }

.alert-message {
  font-size: 1.4rem;
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  line-height: 1.6rem;
  color: #F43F44;
  margin-bottom: 15px; }

.page-title {
  color: #1CB57D;
  font-size: 4.2rem;
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  line-height: 4.4rem;
  font-weight: bold;
  display: block;
  text-align: left; }

.ce-block {
  text-align: left; }

.ce-block__content {
  text-align: left;
  max-width: 100%;
  padding-right: 25px; }

.checkbox-block {
  position: relative;
  padding-left: 35px;
  margin-right: 10px;
  font-size: 1.6rem;
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  line-height: 1.8rem; }

/* Hide the browser's default checkbox */
.checkbox-block input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 50%;
  left: 0;
  height: 25px;
  width: 25px;
  margin-top: -12.5px;
  background-color: #fff;
  border: 2px solid #424242;
  border-radius: 5px; }

/* On mouse-over, add a grey background color */
.checkbox-block:hover input ~ .checkmark {
  background-color: #ccc; }

/* When the checkbox is checked, add a blue background */
.checkbox-block input:checked ~ .checkmark {
  border: 1.5px solid #18B8AF;
  background-color: #18B8AF; }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the checkmark when checked */
.checkbox-block input:checked ~ .checkmark:after {
  display: block; }

/* Style the checkmark/indicator */
.checkbox-block .checkmark:after {
  left: 8px;
  top: 50%;
  width: 7px;
  height: 19px;
  margin-top: -10.5px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.modal .modal-header .close {
  padding: 5px;
  margin: -5px -5px -5px auto; }
.modal .modal-title {
  font-size: 2rem;
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  line-height: 2.2rem;
  color: #1CB57D; }
.modal .close {
  font-size: 2.5rem; }

.custom-list .group-title {
  margin: 15px 0 5px;
  font-size: 2rem;
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  line-height: 2.2rem;
  font-weight: bold; }
.custom-list table {
  width: 100%;
  font-size: 1.6rem;
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  line-height: 1.8rem;
  border: 1px solid #666;
  background-color: #fff;
  margin-bottom: 35px; }
  .custom-list table th, .custom-list table td {
    padding: 5px 10px; }
  .custom-list table thead {
    background-color: #666;
    color: #fff; }
    .custom-list table thead th {
      font-weight: normal; }
  .custom-list table tbody tr {
    border-bottom: 1px solid #666; }
  .custom-list table tbody td {
    padding: 10px;
    font-size: 1.5rem;
    font-family: "Roboto", "Noto Sans TC", sans-serif;
    line-height: 1.7rem; }

.card .card-title {
  color: #1CB57D;
  font-size: 4.2rem;
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  line-height: 4.4rem;
  font-weight: bold;
  display: block;
  text-align: left; }
.card .red-text {
  color: #F43F44; }

#sidebar {
  position: fixed;
  left: 0;
  height: 100%;
  background-color: #3f3f3f; }
  #sidebar a {
    color: #fff; }
    #sidebar a:hover {
      border: 0;
      text-decoration: none; }
  #sidebar .sidebar {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    height: 100%; }
    #sidebar .sidebar .page {
      flex-grow: 1; }
    #sidebar .sidebar .sidebar-item {
      padding: 7px;
      text-align: center; }
      #sidebar .sidebar .sidebar-item .icon {
        padding: 3px; }
      #sidebar .sidebar .sidebar-item .item-title {
        font-size: 1.4rem;
        font-family: "Roboto", "Noto Sans TC", sans-serif;
        line-height: 1.6rem;
        margin: 5px 0; }
      #sidebar .sidebar .sidebar-item:hover .icon > img {
        -webkit-filter: grayscale(100%) brightness(80%) sepia(38%) hue-rotate(-275deg) saturate(500%) contrast(0.8);
        filter: grayscale(100%) brightness(80%) sepia(38%) hue-rotate(-275deg) saturate(500%) contrast(0.8); }
      #sidebar .sidebar .sidebar-item:hover .item-title {
        color: #76e4bb; }
    #sidebar .sidebar .current {
      background-color: rgba(255, 255, 255, 0.15) !important;
      cursor: default;
      pointer-events: none;
      position: relative; }
      #sidebar .sidebar .current:before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -5px;
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-right: 12px solid #F3F3F3; }
  #sidebar .logout {
    flex-grow: 0;
    cursor: pointer;
    background-color: #F43F44;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    vertical-align: middle;
    align-items: center; }
    #sidebar .logout .logout_icon {
      width: 18px;
      margin-right: 5px; }
      #sidebar .logout .logout_icon > img {
        width: 100%;
        height: auto; }
    #sidebar .logout .item-title {
      color: #fff;
      font-size: 1rem;
      font-family: "Roboto", "Noto Sans TC", sans-serif;
      line-height: 1.2rem;
      margin: 0 !important; }
    #sidebar .logout:hover {
      background-color: #f56b6f; }
      #sidebar .logout:hover #logout_btn > img {
        -webkit-filter: brightness(90%);
        filter: brightness(90%); }
      #sidebar .logout:hover .item-title {
        color: #e6e6e6 !important; }

.login .container {
  text-align: center !important;
  padding: 0; }
.login .login-container {
  padding-top: 45px; }
.login .login-icon-wrapper label {
  font-size: 1.8rem;
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  line-height: 2rem;
  margin: 10px 0;
  color: #1CB57D; }
.login .login-input-wrapper {
  margin: 15px 0;
  text-align: left; }
  .login .login-input-wrapper label {
    font-size: 1.4rem;
    font-family: "Roboto", "Noto Sans TC", sans-serif;
    line-height: 1.6rem;
    margin: 10px 0 5px;
    color: #5f5f5f; }
.login .input-text {
  font-size: 1.6rem;
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  line-height: 1.8rem;
  border: 1px solid #ccc;
  border-radius: 5px; }
.login #login_submit {
  margin: 5px 0; }
.login .register-container .mid-line {
  position: relative;
  padding: 10px 0; }
  .login .register-container .mid-line::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ccc;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -1;
    z-index: 1; }
  .login .register-container .mid-line span {
    font-size: 1.4rem;
    font-family: "Roboto", "Noto Sans TC", sans-serif;
    line-height: 1.6rem;
    color: #ccc;
    background-color: #F3F3F3;
    padding: 5px 15px;
    z-index: 2;
    position: relative; }
.login .register-wrapper {
  margin-top: 10px; }
  .login .register-wrapper label {
    display: block;
    font-size: 1.8rem;
    font-family: "Roboto", "Noto Sans TC", sans-serif;
    line-height: 2rem;
    color: #1CB57D;
    margin-bottom: 15px; }

.circular #circular_list {
  border-collapse: separate;
  border-spacing: 0 10px;
  width: 100%; }
.circular .list-item {
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  position: relative;
  transition: .3s; }
  .circular .list-item td {
    padding: 10px;
    position: relative; }
    .circular .list-item td:after {
      content: "";
      display: block;
      position: absolute;
      width: 20px;
      height: 20px;
      transition: .3s;
      box-shadow: -3px 3px 0 rgba(0, 0, 0, 0.6);
      cursor: pointer;
      transform: rotate(225deg);
      top: 50%;
      right: 25px;
      margin-top: -10px; }
  .circular .list-item .title {
    font-size: 1.8rem;
    font-family: "Roboto", "Noto Sans TC", sans-serif;
    line-height: 2rem;
    color: #000;
    margin: 5px 0; }
  .circular .list-item .date {
    font-size: 1.2rem;
    font-family: "Roboto", "Noto Sans TC", sans-serif;
    line-height: 1.4rem;
    color: #a5a5a5; }
  .circular .list-item:hover {
    background-color: #ddf0e9;
    box-shadow: none; }
    .circular .list-item:hover td:after {
      box-shadow: -3px 3px 0 rgba(0, 0, 0, 0.2); }

.detail .content-container, .detail .reply-container, .detail .replyList-container {
  padding: 25px 0; }
.detail .content-wrapper, .detail .reply-wrapper {
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  padding: 15px 10px;
  color: #252525; }
.detail .circular-title {
  font-size: 3.6rem;
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  line-height: 3.8rem;
  text-align: center;
  margin: 15px 0; }
.detail #circular_content {
  padding: 5px 10px;
  font-size: 1.6rem;
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  line-height: 1.8rem;
  line-height: 1.4; }
  .detail #circular_content p {
    margin-bottom: 20px; }
  .detail #circular_content table {
    width: 100%;
    border: 1px solid #3d3d3d;
    margin-bottom: 20px; }
    .detail #circular_content table tr:nth-of-type(1) {
      background-color: #3d3d3d;
      color: #fff; }
    .detail #circular_content table td {
      padding: 10px;
      border: 1px solid #3d3d3d; }
  .detail #circular_content ol, .detail #circular_content ul {
    padding-inline-start: 20px;
    margin-bottom: 20px; }
  .detail #circular_content ol {
    list-style: none;
    counter-reset: my-awesome-counter;
    margin-left: 0;
    padding: 0; }
    .detail #circular_content ol li {
      counter-increment: my-awesome-counter;
      display: flex;
      width: 50%;
      margin-bottom: 10px; }
      .detail #circular_content ol li:before {
        content: "0" counter(my-awesome-counter);
        font-weight: bold;
        font-size: 2.6rem;
        margin-right: 0.5rem;
        line-height: 1; }
  .detail #circular_content ul li {
    margin-bottom: 10px; }
.detail .reply-wrapper {
  padding: 15px 20px; }
.detail #content_action {
  text-align: center; }
  .detail #content_action #reply {
    padding: 10px 25px;
    background-color: #F43F44;
    border: 0; }
.detail #option_wrapper {
  margin: 10px 0; }
.detail #input_wrapper {
  margin: 15px 0; }
.detail .input-block {
  margin: 10px 0; }
.detail .input-group-prepend {
  font-size: 1.6rem;
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  line-height: 1.8rem;
  font-weight: bold; }
.detail #reply_action {
  text-align: center; }
  .detail #reply_action #submit {
    padding: 10px 25px;
    background-color: #31C640;
    border: 0; }
.detail .replyList-container .group-title {
  margin: 15px 0 5px;
  font-size: 2rem;
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  line-height: 2.2rem;
  font-weight: bold; }
.detail .replyList-container table {
  width: 100%;
  font-size: 1.6rem;
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  line-height: 1.8rem;
  border: 1px solid #666;
  background-color: #fff; }
  .detail .replyList-container table th, .detail .replyList-container table td {
    padding: 5px 10px; }
  .detail .replyList-container table thead {
    background-color: #666;
    color: #fff; }
    .detail .replyList-container table thead th {
      font-weight: normal; }
  .detail .replyList-container table tbody tr {
    border-bottom: 1px solid #666; }
  .detail .replyList-container table tbody td {
    padding: 10px;
    font-size: 1.5rem;
    font-family: "Roboto", "Noto Sans TC", sans-serif;
    line-height: 1.7rem; }

.add-page .content-section, .edit-page .content-section {
  padding: 50px 15px 0; }
.add-page .input-title, .edit-page .input-title {
  flex-basis: 100%;
  -moz-flex-basis: 100%;
  -webkit-flex-basis: 100%;
  max-width: 100%;
  font-size: 2rem;
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  line-height: 2.2rem;
  padding: 5px 0; }
.add-page .input-group, .edit-page .input-group {
  margin: 10px 0 15px;
  align-items: center; }
  .add-page .input-group .btn, .edit-page .input-group .btn {
    margin: 0 5px;
    border: 0; }
.add-page #addTarget, .add-page #addOption, .add-page #addInput, .edit-page #addTarget, .edit-page #addOption, .edit-page #addInput {
  background-color: #18B8AF; }
  .add-page #addTarget:hover, .add-page #addOption:hover, .add-page #addInput:hover, .edit-page #addTarget:hover, .edit-page #addOption:hover, .edit-page #addInput:hover {
    background-color: #169992; }
.add-page #minusTarget, .add-page #minusOption, .add-page #minusInput, .edit-page #minusTarget, .edit-page #minusOption, .edit-page #minusInput {
  background-color: #F43F44; }
  .add-page #minusTarget:hover, .add-page #minusOption:hover, .add-page #minusInput:hover, .edit-page #minusTarget:hover, .edit-page #minusOption:hover, .edit-page #minusInput:hover {
    background-color: #c93d42; }
.add-page .selection-group, .edit-page .selection-group {
  padding: 0 10px 0 0;
  margin: 0;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap; }
  .add-page .selection-group select, .edit-page .selection-group select {
    display: inline-block;
    width: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.6rem;
    font-family: "Roboto", "Noto Sans TC", sans-serif;
    line-height: 1.8rem;
    margin-right: 10px; }
.add-page input, .edit-page input {
  font-size: 1.6rem;
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  line-height: 1.8rem;
  border: 1px solid #ccc !important;
  border-radius: 5px !important; }
.add-page .content-group .rich-editor, .edit-page .content-group .rich-editor {
  font-size: 1.6rem;
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  line-height: 1.8rem;
  border: 1px solid #ccc !important;
  border-radius: 5px !important;
  background-color: #fff;
  padding: 10px !important; }
.add-page .reply-method, .edit-page .reply-method {
  padding-top: 35px;
  padding-bottom: 15px;
  margin-top: 35px;
  border-top: 1px solid #ccc; }
.add-page .replyType-selector, .edit-page .replyType-selector {
  width: auto;
  font-size: 1.6rem;
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  line-height: 1.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 25px; }
.add-page .action-block, .edit-page .action-block {
  margin: 25px 0;
  text-align: right; }
  .add-page .action-block button, .edit-page .action-block button {
    margin-left: 10px; }
  .add-page .action-block #save, .edit-page .action-block #save {
    background-color: #FA7E58; }
    .add-page .action-block #save:hover, .edit-page .action-block #save:hover {
      background-color: #c86546; }
  .add-page .action-block #publish, .edit-page .action-block #publish {
    background-color: #31C640; }
    .add-page .action-block #publish:hover, .edit-page .action-block #publish:hover {
      background-color: #279e33; }
.add-page .reply-block, .edit-page .reply-block {
  margin: 15px 0; }
  .add-page .reply-block > div, .edit-page .reply-block > div {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap; }
    .add-page .reply-block > div > .input-title, .edit-page .reply-block > div > .input-title {
      flex-basis: auto;
      -moz-flex-basis: auto;
      -webkit-flex-basis: auto;
      max-width: none;
      margin-right: 10px; }
    .add-page .reply-block > div > button, .edit-page .reply-block > div > button {
      margin: 0 5px; }
  .add-page .reply-block .reply-option-wrapper, .add-page .reply-block .reply-Input-wrapper, .edit-page .reply-block .reply-option-wrapper, .edit-page .reply-block .reply-Input-wrapper {
    flex-basis: 100%;
    -moz-flex-basis: 100%;
    -webkit-flex-basis: 100%;
    max-width: 100%; }
.add-page .input-subtitle, .edit-page .input-subtitle {
  padding-right: 10px; }

.editList #edit_list {
  border-collapse: separate;
  border-spacing: 0 10px;
  width: 100%; }
.editList .list-item {
  background-color: #fff;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  position: relative;
  transition: .3s; }
  .editList .list-item td {
    padding: 10px;
    position: relative; }
  .editList .list-item .title {
    font-size: 1.6rem;
    font-family: "Roboto", "Noto Sans TC", sans-serif;
    line-height: 1.8rem;
    color: #000;
    margin: 5px 0; }
  .editList .list-item .date, .editList .list-item .replyMethod, .editList .list-item .status {
    font-size: 1.4rem;
    font-family: "Roboto", "Noto Sans TC", sans-serif;
    line-height: 1.6rem;
    color: #a5a5a5;
    text-transform: capitalize; }
  .editList .list-item .status.draft {
    color: #FA7E58; }
  .editList .list-item .status.published {
    color: #31C640; }
  .editList .list-item .action {
    text-align: center; }
    .editList .list-item .action a {
      width: 100%; }
    .editList .list-item .action .btn.btn-info {
      width: 100%; }
    .editList .list-item .action .edit {
      background-color: #FA7E58; }
      .editList .list-item .action .edit:hover {
        background-color: #c86546; }
    .editList .list-item .action .view-reply {
      background-color: #31C640; }
      .editList .list-item .action .view-reply:hover {
        background-color: #279e33; }
  .editList .list-item:hover {
    background-color: #ddf0e9;
    box-shadow: none; }
    .editList .list-item:hover td:after {
      box-shadow: -3px 3px 0 rgba(0, 0, 0, 0.2); }

.member .container {
  position: relative; }
.member .btn-right {
  position: absolute;
  top: 50px;
  right: 0; }

.addMember .input-title {
  flex-basis: 100%;
  -moz-flex-basis: 100%;
  -webkit-flex-basis: 100%;
  max-width: 100%;
  font-size: 2rem;
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  line-height: 2.2rem;
  padding: 5px 0; }
.addMember .input-group, .addMember .input-block {
  margin: 10px 0 15px;
  align-items: center; }
  .addMember .input-group .btn, .addMember .input-block .btn {
    margin: 0 5px;
    border: 0; }
.addMember .selection {
  padding: 0 10px 0 0;
  margin: 0;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap; }
  .addMember .selection select {
    display: inline-block;
    width: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.6rem;
    font-family: "Roboto", "Noto Sans TC", sans-serif;
    line-height: 1.8rem;
    margin-right: 10px; }
.addMember input {
  font-size: 1.6rem;
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  line-height: 1.8rem;
  border: 1px solid #ccc !important;
  border-radius: 5px !important; }
.addMember input[type=number] {
  padding: 5px 3px 5px 10px; }
.addMember .member-section {
  margin: 10px 0 15px; }
  .addMember .member-section #memberCounter {
    font-size: 1.6rem;
    font-family: "Roboto", "Noto Sans TC", sans-serif;
    line-height: 1.8rem;
    border: 1px solid #ccc !important;
    border-radius: 5px !important; }

.register-page .register-container label {
  font-size: 2rem;
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  line-height: 2.2rem;
  padding: 15px 0 5px; }

/*# sourceMappingURL=circular.css.map */
